[Unit]
Description=Telegram Bot
After=syslog.target
After=network.target
[Service]
Type=simple
User=root
WorkingDirectory=/project/accounts
ExecStart=/project/accounts/venv/bin/python3 /project/accounts/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
