BOT_TOKEN=
LINK_SUPPORT=
SESSION_PATH=data/tgclient
API_ID=
API_HASH=
PHONE_NUMBER=
SELLER=
USERNAME=
ADMINS=
MAIN_ADMIN=
PERCENT_GUARANTOR=
BASE_PERCENT=
EXCEL_TEMPLATE_PATH=/ExcelS/Template.xlsx
EXCEL_LOAD_FILE_PATH=/ExcelS
EXNODE_PUBLIC=
EXNODE_PRIVATE=
IP_ADDRESS=
MERCHANT_ID=
