BOT_TOKEN=5268427137:AAHcEc3DIT-6KR1Hf2aQgGTCshN9ABGnfK0
LINK_SUPPORT=https://t.me/BotFather
SESSION_PATH=data/tgclient
API_ID=13838458
API_HASH=d8cbf5bd25d984eb6a227771009e1598
PHONE_NUMBER=89776054825
SELLER=686171972
USERNAME=Nikita_i
ADMINS=686171972
MAIN_ADMIN=686171972
PERCENT_GUARANTOR=10
BASE_PERCENT=10
EXCEL_TEMPLATE_PATH=service/ExcelS/Template.xlsx
EXCEL_LOAD_FILE_PATH=service/ExcelS
EXNODE_PUBLIC=6ou06aogswjhwyzkyxy54ey7cny2olly24wxfh9u8ynffprzb7lv217odtt4yf0a
EXNODE_PRIVATE=ebho8jloorkzcrzgvqcs0p1ycakcmfr74erudcwhbgminzfxgl8jiy93szxdl6dadgdoam277eoxg3617si0mk49yes2r3874ha8ft0a650rwy2buoqk6okfn26z5wjp
IP_ADDRESS=0.0.0.0
MERCHANT_ID=366fa27a-0c48-4d9f-be3e-94bdb724f10e
API_HOST=127.0.0.1
API_PORT=80

