BOT_TOKEN=
LINK_SUPPORT=
SESSION_PATH=
API_ID=
API_HASH=
PHONE_NUMBER=
SELLER=
USERNAME=
ADMINS=
MAIN_ADMIN=
PERCENT=
PERCENT_GUARANTOR=
BASE_PERCENT=
EXCEL_TEMPLATE_PATH=
EXCEL_LOAD_FILE_PATH=
EXNODE_PUBLIC=
EXNODE_PRIVATE=
IP_ADDRESS=
MERCHANT_ID=
LOCAL_HOST=
LOCAL_PORT=
API_HOST=
API_PORT=
SECRET_KEY=